html, body {
  height: 100%;
  background: url("/static/images/buildings.svg")  no-repeat bottom;
  background-color: #41C6E5;
  background-size: 100%;
  /*background-image: url(http://i.imgur.com/MQHYB.jpg);*/
  padding: 0 auto;
  margin: 0;

  color: #FFF;
  font-family: 'Helvetica';
}


h1, h2, h3, h4, h5 {
  color: #FFF;
}

h1 {
  font-size: 2.0em;
}

.api{
  color: #FFF;
  font-size: 1.5em;
}

.content {
  margin: 0 auto;
  color: #FFF;
  font-size:1.5em;
}

.container {
  margin: 0 auto;
  width: 50%;
  height: auto;
  max-width:600px;
}



.logo {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.fact, .views {
  text-align: center;
  padding: 10px 10px 15px 10px;
  display: block;
  margin: 25px auto;
  color: #fff;
  background:rgba(255,255,255,0.2);
  border-radius: 5px;
  font-size: 1.0em;
}

.fact {
  font-size: 1.3em;
  margin: -30px 0 10px 0;
}

.views {
}

.brick {
  width: 50%;
  display: block;
  margin: 40px auto;
  padding: 0 -10px;
}

.footer {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.footer a {
  padding: 0 20px;
}

.footer .right {
  padding: 0 20px;
  font-size: 1.3em;
  float: right;
}

.brick {
    width: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2) rotate(360deg); 
    -moz-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);
}
