<html>
<head>
  <title>
    {% block title %}Brick Facts{% endblock %}
  </title>
  {% block head %}
  {% endblock %}

  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"></link>        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.brick').hover(function() {
        $(this).addClass('transition');
 
    }, function() {
        $(this).removeClass('transition');
    });
  });
</script>

</head>

<body>

<main class="content">

{% block content %}

  <div class="container">
      {% block page_content %}
      {% endblock %}
  </div>

{% endblock %}
</main><!-- / content -->


{% block footer %}
<div class="footer">
  <a class="api" href="{{ url_for('apiman') }}">
    Brick Facts for developers
  </a>
  Get Brick Facts on Pebble!!
  <div class="right">
    Made by nerds, for nerds
  </div>
</div>
{% endblock %}


{% block scripts %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

  <!-- has to be done after scripts so dialogs can work -->
{% block alerts %}
  {% for message in get_flashed_messages() %}
    <script type="text/javascript">
      toast('{{ message }}', 5000);
    </script>
  {% endfor %}
{% endblock %}

</body>

</html>
