{% extends "base.html" %}

{% block page_content %}<!-- Content -->

  <img class="logo" src="{{ url_for('static', filename='images/brickfacts.svg') }}" />

  <div class="fact">
    {{ fact }}
  </div>

  <div class="cent">
<a href="{{ url_for('index') }}">
  <img class="brick" src="{{ url_for('static', filename='images/brick_circ.svg') }}" />
</a>
  </div>

  <div class="views">
    {{ views }} Other people have been marvelled by these awesome brick facts.
  </div>

  <a class="api" href="{{ url_for('apiman') }}">
    Brick Facts for developers
  </a>


{% endblock %}<!-- / Content -->

{% block footer %}
{{ super() }}
{% endblock %}
