{% extends "base.html" %}

{% block page_content %}<!-- Content -->

  <img class="logo" src="//storage.googleapis.com/web-static/brickfacts.svg" />

  <div class="fact">
    {{ fact }}
  </div>

  <a href="{{ url_for('index') }}">
    <img class="brick" src="//storage.googleapis.com/web-static/brick_circ.svg" />
  </a>

  <div class="views">
    <h3>Text (585) 209-5554 for Brick Facts and send us your Brick Facts!</h3>
    {{ views }} Other people have been marvelled by these awesome brick facts.
  </div>

{% endblock %}<!-- / Content -->

{% block footer %}
{{ super() }}
{% endblock %}
