{% extends "base.html" %}
{% from "_forms.html" import render_field %}

{% block page_content %}<!-- Content -->

  <img class="logo" src="{{ url_for('static', filename='images/brickfacts.svg') }}" />

  <div class="fact">
    {{ fact }}
  </div>

  <a href="{{ url_for('index') }}">
    <img class="brick" src="{{ url_for('static', filename='images/brick_circ.svg') }}" />
  </a>

  <div class="views">
    <h3>Text (585) 209-5554 for Brick Facts!</h3>
    {{ views }} Other people have been marvelled by these awesome brick facts.
  </div>

{% endblock %}<!-- / Content -->

{% block footer %}
{{ super() }}
{% endblock %}
